<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/../logs/${shordate}-web-api.log"
		        layout ="${date}|${message}|${exception:format=Message, ShortType}|${logger}"/>
		<target name="errorfile" xsi:type="File" fileName="${basedir}/../logs/${shordate}-web-api-errors.log"
		        layout ="${date}|${message}|${exception:format=ToString}|${logger}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="error" writeTo="errorfile" />
	</rules>
</nlog>